*{
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

.logo{
  width: 18rem;
}

.plaganav{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.counter{
  
  margin: 10px;
  width: 2rem;
  font-weight: bolder;
  border-radius: 35%;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  background-color: white;
  transition: background-color .2s;
}

.counter:hover {
  background-color: yellow;
}

/*CSS del Item Detail.js*/
.media-object {
  /* Align sub-items to top */
  align-items: start;
  display: flex;
}

.media-object__media {
  margin-right: 0.5rem;
}

.media-object__content {
  /* Take the remaining width */
  flex: 1;
}


/*CSS del Loading.js*/
.chase {
  position: relative; }
  .chase:after, .chase:before {
    content: '';
    height: 30px;
    width: 30px;
    display: block;
    -webkit-animation: out .5s backwards, spin 1.25s .5s infinite ease;
            animation: out .5s backwards, spin 1.25s .5s infinite ease;
    border: 5px solid var(--primary);
    border-radius: 100%;
    -webkit-box-shadow: 0 -40px 0 -5px var(--primary);
            box-shadow: 0 -40px 0 -5px var(--primary);
    position: absolute; }
  .chase:after {
    -webkit-animation-delay: 0s, 1.25s;
            animation-delay: 0s, 1.25s; }

@-webkit-keyframes out {
  from {
    -webkit-box-shadow: 0 0 0 -5px var(--primary);
            box-shadow: 0 0 0 -5px var(--primary); } }

@keyframes out {
  from {
    -webkit-box-shadow: 0 0 0 -5px var(--primary);
            box-shadow: 0 0 0 -5px var(--primary); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }